*, ::before, ::after { --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ; --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgb(59 130 246 / 0.5); --tw-ring-offset-shadow: 0 0 #0000; --tw-ring-shadow: 0 0 #0000; --tw-shadow: 0 0 #0000; --tw-shadow-colored: 0 0 #0000; --tw-blur: ; --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast: ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ; --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ; --tw-backdrop-sepia: ; --tw-contain-size: ; --tw-contain-layout: ; --tw-contain-paint: ; --tw-contain-style: ; }
::backdrop { --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ; --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgb(59 130 246 / 0.5); --tw-ring-offset-shadow: 0 0 #0000; --tw-ring-shadow: 0 0 #0000; --tw-shadow: 0 0 #0000; --tw-shadow-colored: 0 0 #0000; --tw-blur: ; --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast: ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ; --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ; --tw-backdrop-sepia: ; --tw-contain-size: ; --tw-contain-layout: ; --tw-contain-paint: ; --tw-contain-style: ; }
*, ::after, ::before { box-sizing: border-box; border-width: 0px; border-style: solid; border-color: rgb(229, 231, 235); }
::after, ::before { --tw-content: ''; }
:host, html { line-height: 1.5; text-size-adjust: 100%; tab-size: 4; font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-feature-settings: normal; font-variation-settings: normal; -webkit-tap-highlight-color: transparent; }
body { margin: 0px; line-height: inherit; }
hr { height: 0px; color: inherit; border-top-width: 1px; }
abbr:where([title]) { text-decoration: underline dotted; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
a { color: inherit; text-decoration: inherit; }
b, strong { font-weight: bolder; }
code, kbd, pre, samp { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-feature-settings: normal; font-variation-settings: normal; font-size: 1em; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
table { text-indent: 0px; border-color: inherit; border-collapse: collapse; }
button, input, optgroup, select, textarea { font-family: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; font-weight: inherit; line-height: inherit; letter-spacing: inherit; color: inherit; margin: 0px; padding: 0px; }
button, select { text-transform: none; }
button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) { appearance: button; background-color: transparent; background-image: none; }
progress { vertical-align: baseline; }
::-webkit-inner-spin-button, ::-webkit-outer-spin-button { height: auto; }
[type="search"] { appearance: textfield; outline-offset: -2px; }
::-webkit-search-decoration { appearance: none; }
::-webkit-file-upload-button { appearance: button; font: inherit; }
summary { display: list-item; }
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre { margin: 0px; }
fieldset { margin: 0px; padding: 0px; }
legend { padding: 0px; }
menu, ol, ul { list-style: none; margin: 0px; padding: 0px; }
dialog { padding: 0px; }
textarea { resize: vertical; }
input::placeholder, textarea::placeholder { opacity: 1; color: rgb(156, 163, 175); }
[role="button"], button { cursor: pointer; }
:disabled { cursor: default; }
audio, canvas, embed, iframe, img, object, svg, video { display: block; vertical-align: middle; }
img, video { max-width: 100%; height: auto; }
[hidden]:where(:not([hidden="until-found"])) { display: none; }
.pointer-events-none { pointer-events: none; }
.absolute { position: absolute; }
.relative { position: relative; }
.inset-0 { inset: 0px; }
.inset-\[-0\.25px_0\] { inset: -0.25px 0px; }
.inset-\[-0\.5px_0\] { inset: -0.5px 0px; }
.inset-\[2\.73\%_88\.95\%_94\.22\%_2\.45\%\] { inset: 2.73% 88.95% 94.22% 2.45%; }
.inset-\[2\.73\%_95\.82\%_94\.22\%_2\.45\%\] { inset: 2.73% 95.82% 94.22% 2.45%; }
.inset-\[3\.32\%_88\.95\%_94\.36\%_4\.52\%\] { inset: 3.32% 88.95% 94.36% 4.52%; }
.inset-\[3\.85\%_96\.46\%_95\%_2\.89\%\] { inset: 3.85% 96.46% 95% 2.89%; }
.inset-\[5\.02\%_97\.12\%_94\.22\%_2\.45\%\] { inset: 5.02% 97.12% 94.22% 2.45%; }
.inset-\[89\.54\%_90\.36\%_7\.41\%_1\.04\%\] { inset: 89.54% 90.36% 7.41% 1.04%; }
.inset-\[89\.54\%_97\.23\%_7\.41\%_1\.04\%\] { inset: 89.54% 97.23% 7.41% 1.04%; }
.inset-\[90\.13\%_90\.36\%_7\.55\%_3\.11\%\] { inset: 90.13% 90.36% 7.55% 3.11%; }
.inset-\[90\.66\%_97\.87\%_8\.19\%_1\.48\%\] { inset: 90.66% 97.87% 8.19% 1.48%; }
.inset-\[91\.83\%_98\.53\%_7\.41\%_1\.04\%\] { inset: 91.83% 98.53% 7.41% 1.04%; }
.inset-\[93\.24\%_17\.23\%_4\.26\%_81\.35\%\] { inset: 93.24% 17.23% 4.26% 81.35%; }
.inset-\[94\.16\%_17\.75\%_4\.9\%_81\.72\%\] { inset: 94.16% 17.75% 4.9% 81.72%; }
.inset-\[95\.11\%_18\.29\%_4\.26\%_81\.35\%\] { inset: 95.11% 18.29% 4.26% 81.35%; }
.inset-x-0 { left: 0px; right: 0px; }
.bottom-0 { bottom: 0px; }
.bottom-\[22px\] { bottom: 22px; }
.left-0 { left: 0px; }
.left-\[1091\.95px\] { left: 1091.95px; }
.left-\[10px\] { left: 10px; }
.left-\[1202\.13px\] { left: 1202.13px; }
.left-\[1245\.63px\] { left: 1245.63px; }
.left-\[1409\.43px\] { left: 1409.43px; }
.left-\[1432px\] { left: 1432px; }
.left-\[1436px\] { left: 1436px; }
.left-\[1506px\] { left: 1506px; }
.left-\[1587\.36px\] { left: 1587.36px; }
.left-\[1655\.52px\] { left: 1655.52px; }
.left-\[1900px\] { left: 1900px; }
.left-\[260px\] { left: 260px; }
.left-\[26px\] { left: 26px; }
.left-\[27px\] { left: 27px; }
.left-\[290px\] { left: 290px; }
.left-\[30px\] { left: 30px; }
.left-\[362px\] { left: 362px; }
.left-\[410px\] { left: 410px; }
.left-\[457px\] { left: 457px; }
.left-\[484px\] { left: 484px; }
.left-\[489px\] { left: 489px; }
.left-\[538\.27px\] { left: 538.27px; }
.left-\[611\.77px\] { left: 611.77px; }
.left-\[619px\] { left: 619px; }
.left-\[774\.48px\] { left: 774.48px; }
.left-\[788px\] { left: 788px; }
.left-\[867\.23px\] { left: 867.23px; }
.left-\[918px\] { left: 918px; }
.left-\[929\.73px\] { left: 929.73px; }
.left-\[965px\] { left: 965px; }
.left-\[985px\] { left: 985px; }
.left-\[calc\(50\%\+285\.92px\)\] { left: calc(50% + 285.92px); }
.left-\[calc\(50\%\+695\.36px\)\] { left: calc(50% + 695.36px); }
.left-\[calc\(50\%-0\.5px\)\] { left: calc(50% - 0.5px); }
.left-\[calc\(50\%-151\.5px\)\] { left: calc(50% - 151.5px); }
.left-\[calc\(50\%-31\.23px\)\] { left: calc(50% - 31.23px); }
.left-\[calc\(50\%-940px\)\] { left: calc(50% - 940px); }
.right-0 { right: 0px; }
.right-\[1308\.44px\] { right: 1308.44px; }
.right-\[20px\] { right: 20px; }
.right-\[50px\] { right: 50px; }
.top-0 { top: 0px; }
.top-\[1027px\] { top: 1027px; }
.top-\[1039px\] { top: 1039px; }
.top-\[103px\] { top: 103px; }
.top-\[1063px\] { top: 1063px; }
.top-\[1074px\] { top: 1074px; }
.top-\[1075px\] { top: 1075px; }
.top-\[133px\] { top: 133px; }
.top-\[190px\] { top: 190px; }
.top-\[200px\] { top: 200px; }
.top-\[216px\] { top: 216px; }
.top-\[26px\] { top: 26px; }
.top-\[28px\] { top: 28px; }
.top-\[757px\] { top: 757px; }
.top-\[773px\] { top: 773px; }
.top-\[808px\] { top: 808px; }
.top-\[813px\] { top: 813px; }
.top-\[828px\] { top: 828px; }
.top-\[835px\] { top: 835px; }
.top-\[851px\] { top: 851px; }
.top-\[879px\] { top: 879px; }
.top-\[884px\] { top: 884px; }
.top-\[934px\] { top: 934px; }
.top-\[939px\] { top: 939px; }
.top-\[964\.05px\] { top: 964.05px; }
.top-\[974px\] { top: 974px; }
.top-\[976px\] { top: 976px; }
.top-\[989px\] { top: 989px; }
.top-\[992px\] { top: 992px; }
.top-\[997px\] { top: 997px; }
.ml-2 { margin-left: 0.5rem; }
.mt-1 { margin-top: 0.25rem; }
.mt-\[5px\] { margin-top: 5px; }
.block { display: block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.contents { display: contents; }
.size-full { width: 100%; height: 100%; }
.h-0 { height: 0px; }
.h-6 { height: 1.5rem; }
.h-\[1080px\] { height: 1080px; }
.h-\[146px\] { height: 146px; }
.h-\[201px\] { height: 201px; }
.h-\[46px\] { height: 46px; }
.h-\[55px\] { height: 55px; }
.h-\[700px\] { height: 700px; }
.h-\[71px\] { height: 71px; }
.h-\[81px\] { height: 81px; }
.h-\[93px\] { height: 93px; }
.min-h-screen { min-height: 100vh; }
.w-0 { width: 0px; }
.w-6 { width: 1.5rem; }
.w-\[1431px\] { width: 1431px; }
.w-\[146px\] { width: 146px; }
.w-\[1660px\] { width: 1660px; }
.w-\[1900px\] { width: 1900px; }
.w-\[1920px\] { width: 1920px; }
.w-\[201px\] { width: 201px; }
.w-\[260px\] { width: 260px; }
.w-\[309\.733px\] { width: 309.733px; }
.w-\[394px\] { width: 394px; }
.w-\[465px\] { width: 465px; }
.w-\[484px\] { width: 484px; }
.w-\[489px\] { width: 489px; }
.w-\[495\.572px\] { width: 495.572px; }
.w-\[885px\] { width: 885px; }
.w-\[912px\] { width: 912px; }
.w-\[944px\] { width: 944px; }
.w-\[945px\] { width: 945px; }
.w-full { width: 100%; }
.flex-none { flex: 0 0 auto; }
.-translate-x-1\/2 { --tw-translate-x: -50%; transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); }
.-translate-x-full { --tw-translate-x: -100%; transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); }
.-translate-y-full { --tw-translate-y: -100%; transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); }
.translate-x-1\/2 { --tw-translate-x: 50%; transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); }
.rotate-90 { --tw-rotate: 90deg; transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); }
.flex-col { flex-direction: column; }
.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.gap-2 { gap: 0.5rem; }
.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.whitespace-nowrap { white-space: nowrap; }
.rounded-\[6\.558px\] { border-radius: 6.558px; }
.rounded-\[7px\] { border-radius: 7px; }
.rounded-\[inherit\] { border-radius: inherit; }
.border { border-width: 1px; }
.border-b { border-bottom-width: 1px; }
.border-solid { border-style: solid; }
.border-\[\#4039a8\] { --tw-border-opacity: 1; border-color: rgb(64 57 168 / var(--tw-border-opacity, 1)); }
.border-\[\#919191\] { --tw-border-opacity: 1; border-color: rgb(145 145 145 / var(--tw-border-opacity, 1)); }
.border-\[\#a7f3d0\] { --tw-border-opacity: 1; border-color: rgb(167 243 208 / var(--tw-border-opacity, 1)); }
.border-\[\#c7d2fe\] { --tw-border-opacity: 1; border-color: rgb(199 210 254 / var(--tw-border-opacity, 1)); }
.border-\[\#fde68a\] { --tw-border-opacity: 1; border-color: rgb(253 230 138 / var(--tw-border-opacity, 1)); }
.border-\[\#fecaca\] { --tw-border-opacity: 1; border-color: rgb(254 202 202 / var(--tw-border-opacity, 1)); }
.bg-\[\#4039a8\] { --tw-bg-opacity: 1; background-color: rgb(64 57 168 / var(--tw-bg-opacity, 1)); }
.bg-\[\#d1fae5\] { --tw-bg-opacity: 1; background-color: rgb(209 250 229 / var(--tw-bg-opacity, 1)); }
.bg-\[\#e0e7ff\] { --tw-bg-opacity: 1; background-color: rgb(224 231 255 / var(--tw-bg-opacity, 1)); }
.bg-\[\#e5e5e5\] { --tw-bg-opacity: 1; background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1)); }
.bg-\[\#eeebfb\] { --tw-bg-opacity: 1; background-color: rgb(238 235 251 / var(--tw-bg-opacity, 1)); }
.bg-\[\#f7f5fd\] { --tw-bg-opacity: 1; background-color: rgb(247 245 253 / var(--tw-bg-opacity, 1)); }
.bg-\[\#fee2e2\] { --tw-bg-opacity: 1; background-color: rgb(254 226 226 / var(--tw-bg-opacity, 1)); }
.bg-\[\#fef3c7\] { --tw-bg-opacity: 1; background-color: rgb(254 243 199 / var(--tw-bg-opacity, 1)); }
.bg-white { --tw-bg-opacity: 1; background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)); }
.px-1\.5 { padding-left: 0.375rem; padding-right: 0.375rem; }
.px-\[10px\] { padding-left: 10px; padding-right: 10px; }
.py-0\.5 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.font-\[\'Inter\'\,sans-serif\] { font-family: Inter, sans-serif; }
.font-\[\'Inter\:Bold\'\,sans-serif\] { font-family: "Inter:Bold", sans-serif; }
.font-\[\'Inter\:Medium\'\,sans-serif\] { font-family: "Inter:Medium", sans-serif; }
.font-\[\'Inter\:Regular\'\,sans-serif\] { font-family: "Inter:Regular", sans-serif; }
.font-\[\'Inter\:Semi_Bold\'\,sans-serif\] { font-family: "Inter:Semi Bold", sans-serif; }
.text-\[10px\] { font-size: 10px; }
.text-\[12px\] { font-size: 12px; }
.text-\[15px\] { font-size: 15px; }
.text-\[20px\] { font-size: 20px; }
.text-\[22px\] { font-size: 22px; }
.text-\[24\.816px\] { font-size: 24.816px; }
.text-\[30px\] { font-size: 30px; }
.text-\[40px\] { font-size: 40px; }
.text-\[9px\] { font-size: 9px; }
.font-bold { font-weight: 700; }
.font-medium { font-weight: 500; }
.font-normal { font-weight: 400; }
.font-semibold { font-weight: 600; }
.uppercase { text-transform: uppercase; }
.not-italic { font-style: normal; }
.leading-\[0\.9\] { line-height: 0.9; }
.leading-\[0\] { line-height: 0; }
.leading-\[1\.4\] { line-height: 1.4; }
.leading-\[normal\] { line-height: normal; }
.tracking-\[-0\.3px\] { letter-spacing: -0.3px; }
.tracking-\[-0\.45px\] { letter-spacing: -0.45px; }
.tracking-\[-0\.6px\] { letter-spacing: -0.6px; }
.tracking-\[-0\.9px\] { letter-spacing: -0.9px; }
.tracking-\[-1\.2px\] { letter-spacing: -1.2px; }
.text-\[\#065f46\] { --tw-text-opacity: 1; color: rgb(6 95 70 / var(--tw-text-opacity, 1)); }
.text-\[\#0d0d0d\] { --tw-text-opacity: 1; color: rgb(13 13 13 / var(--tw-text-opacity, 1)); }
.text-\[\#3730a3\] { --tw-text-opacity: 1; color: rgb(55 48 163 / var(--tw-text-opacity, 1)); }
.text-\[\#4039a8\] { --tw-text-opacity: 1; color: rgb(64 57 168 / var(--tw-text-opacity, 1)); }
.text-\[\#6c6c6c\] { --tw-text-opacity: 1; color: rgb(108 108 108 / var(--tw-text-opacity, 1)); }
.text-\[\#92400e\] { --tw-text-opacity: 1; color: rgb(146 64 14 / var(--tw-text-opacity, 1)); }
.text-\[\#991b1b\] { --tw-text-opacity: 1; color: rgb(153 27 27 / var(--tw-text-opacity, 1)); }
.text-black { --tw-text-opacity: 1; color: rgb(0 0 0 / var(--tw-text-opacity, 1)); }
.text-white { --tw-text-opacity: 1; color: rgb(255 255 255 / var(--tw-text-opacity, 1)); }
.underline { text-decoration-line: underline; }
.decoration-solid { text-decoration-style: solid; }
.opacity-50 { opacity: 0.5; }
.shadow-\[inset_-1\.967px_2\.623px_3\.476px_0px_rgba\(255\,255\,255\,0\.25\)\,inset_0px_-4\.591px_8\.46px_0px_rgba\(0\,0\,0\,0\.25\)\] { --tw-shadow: inset -1.967px 2.623px 3.476px 0px rgba(255,255,255,0.25),inset 0px -4.591px 8.46px 0px rgba(0,0,0,0.25); --tw-shadow-colored: inset -1.967px 2.623px 3.476px 0px var(--tw-shadow-color), inset 0px -4.591px 8.46px 0px var(--tw-shadow-color); box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); }